<div class="row wrapper border-bottom white-bg page-heading" id="body">
    <div class="col-sm-4">
        <h2>Estado das Encomendas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Encomenda</a>
            </li>
            <li class="active">
                <strong>Aprovar</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
<div class="row">
<div class="col-lg-12">
    <h2>Encomenda <b>#123</b> | Prazo de entrega: 20 OUT - 29 OUT 2015</h2>
</div>
</div>
<div class="row">

<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content">

            <table class="footable table table-stripped" data-page-size="10">
                <thead>
                    <tr>
                        <th>Fila/Slot/Nível</th>
                        <th data-hide="phone">Referência</th>
                        <th data-hide="phone">Produto</th>
                        <th data-hide="phone">Tamanho</th>
                        <th data-hide="phone">Cor</th>
                        <th data-hide="phone">Quantidade</th>
                        <th>Estado</th>
                        <th data-hide="phone"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            01F-01S-02N
                        </td>
                        <td>
                            3811206
                        </td>
                        <td>
                            CASACO PÊLO
                        </td>
                        <td>
                            S
                        </td>
                        <td>
                            Preto
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            01F-01S-03N
                        </td>

                        <td>
                            2121600
                        </td>

                        <td>
                            VESTIDO BORDADO
                        </td>
                        <td>
                            M
                        </td>
                        <td>
                            Vermelho
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            01F-10S-01N
                        </td>
                        <td>
                            7901320
                        </td>

                        <td>
                            CALÇÕES NÓ
                        </td>
                        <td>
                            XS
                        </td>
                        <td>
                            Azul
                        </td>
                        <td>
                            250
                        </td>

                        <td>
                            <span class="label label-danger">Cancelado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            02F-09S-02N
                        </td>
                        <td>
                            2800204
                        </td>

                        <td>
                            VESTIDO COURO
                        </td>
                        <td>
                            M
                        </td>
                        <td>
                            Castanho
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            02F-04S-01N
                        </td>

                        <td>
                            9171600
                        </td>

                        <td>
                            CASACO BORDADO
                        </td>
                        <td>
                            S
                        </td>
                        <td>
                            Vermelho
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-warning">Pendente</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            03F-01S-02N
                        </td>

                        <td>
                            2706312
                        </td>

                        <td>
                            CALÇÕES COURO
                        </td>
                        <td>
                            XL
                        </td>
                        <td>
                            Azul
                        </td>
                        <td>
                            250
                        </td>

                        <td>
                            <span class="label label-warning">Pendente</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>





                    <tr>
                        <td>
                            01F-01S-02N
                        </td>

                        <td>
                            3811206
                        </td>

                        <td>
                            CASACO PÊLO
                        </td>
                        <td>
                            S
                        </td>
                        <td>
                            Preto
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            01F-01S-03N
                        </td>

                        <td>
                            2121600
                        </td>

                        <td>
                            VESTIDO BORDADO
                        </td>
                        <td>
                            M
                        </td>
                        <td>
                            Vermelho
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            01F-10S-01N
                        </td>

                        <td>
                            7901320
                        </td>

                        <td>
                            CALÇÕES NÓ
                        </td>
                        <td>
                            XS
                        </td>
                        <td>
                            Azul
                        </td>
                        <td>
                            250
                        </td>

                        <td>
                            <span class="label label-danger">Cancelado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            02F-09S-02N
                        </td>
                        <td>
                            2800204
                        </td>

                        <td>
                            VESTIDO COURO
                        </td>
                        <td>
                            M
                        </td>
                        <td>
                            Castanho
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            02F-09S-02N
                        </td>
                        <td>
                            2800204
                        </td>

                        <td>
                            VESTIDO COURO
                        </td>
                        <td>
                            M
                        </td>
                        <td>
                            Castanho
                        </td>
                        <td>
                            500
                        </td>

                        <td>
                            <span class="label label-primary">Aprovado</span>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-white" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>
                            <button class="btn btn-xs btn-primary" type="submit" style="border: 0; opacity: 50; background: rgb(200, 200, 200);">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>
</div>


</div>
